<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}The Lab{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Styles -->
        {{ "bootstrap.css" | asset_url | stylesheet_tag }}
        {{ "custom.css" | asset_url | stylesheet_tag }}

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- Bugherd -->
        <script type='text/javascript'>
        (function (d, t) {
          var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
          bh.type = 'text/javascript';
          bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=vcqxkmagxupqxpte2brq1w';
          s.parentNode.insertBefore(bh, s);
          })(document, 'script');
        </script>

    </head>
    <body>
        {% include "navigation" %}
        {% block content %}{% endblock %}
        <script src="http://code.jquery.com/jquery.min.js"></script>
        {{ "bootstrap.js" | asset_url | script_tag }}
        {{ "holder.js" | asset_url | script_tag }}
    </body>
</html>