{% block content %}
<div id="neuromodulation" class="wrapper">
	<div class="bg-image">	
		<img src="../public/images/bg_neuromodulation.jpg" class="img-responsive">
	</div>
	<a id="top"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron">
					<h1><small>Body Electric</small><br>is about connecting all the dots—the sparks of the synaptic conversations.</h1>
					<blockquote>
						<p>“I have been able to see my life as from a great altitude, as a sort of landscape, and with a deepening sense of the connection of all its parts.”</p>
						<cite>Oliver Sacks</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}
			
		</div>

		<div class="row">
			<div class="col-sm-8 page-text">
				<p class="lead">Neuromodulation + Neuroplasticity = Transformation</p>

				<p>Our brains are constantly changing from every new experience or thought. The modulation of the brain and the nervous center through non-invasive electrical stimulation can create beneficial, positive changes to the way we think, move or feel. This is why we state that neuromodulation + neuroplasticity can result in a transformation—both physical and mental. </p>

				<p>All of this is possible with the growing understanding of the science of the Body Electric which we envision as the future of medicine. Body Electric is a body of knowledge to help reveal and understand the logic of the currents and waves of natural energy that moves through our body.</p>

				<p>The Center is focused on pain, neurological and cognitive rehabilitation and physical and mental performance enhancement. Wether ill or well your body has the potential to transform itself. There are three elements to our science—Neurophysiological assessments, Neuromodulation techniques and Neurocognitive assessments. </p>
				<br>
				<blockquote>“Only when existing scientific ideas fail where more daring ones succeed, do new ideas get firmly established.”<cite>Lisa Randall <small>Dark Matter and the Dinosaurs</small></cite></blockquote>
				<p class="lead">Body Electric</p>
				<p>Body Electric is our terminology for research in neuromodulation and neuroplasticity to better utilize our body’s energy of our natural electrical signals. By doing so, neural connections can be strengthened resulting in increased neural communication that allow our bioelectric selves to perform better.</p>
				<p>Body Electric is based on the understanding that our body’s electricity is a natural part of our body’s energy ecosystem. We are electric.</p>
				<p>Body Electric recognizes that the body and brain are one and need to work together for optimal performance. Our entire being is alive due to its natural electricity, which is energy. The language of our thoughts is the conversation of 86 billion neurons throughout our body. It is a fluid dialogue of trillions of synapses that pulse in the brain, body, and mind in waves of electrical data. These waves of data can be modulated by noninvasive electrical stimulation, which can help facilitate healing, improve recovery or optimize physical performance and mental acuity.</p>
				<p>Body Electric recognizes that the mind is not simply a place, but the synchronized activity of the body and brain.</p>

			</div>
		</div>
	</div><!--/.container-->

	<a id="science"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron">
					<h1><small>Our Science</small><br>3 Components to Our Science</h1>
				</div>
			</div>
		</div>
	</div><!--/.container-->

	
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<p class="lead">The Spaulding-Labuschagne Center  (science) is focused on pain, neurological and cognitive rehabilitation and physical and mental performance enhancement. Whether disturbed or well, the body has the potential to transform itself. There are three components to our science—Neurophysiological assessments, Neuromodulation techniques and Neurocognitive assessments. </p>
				<a id="neurophysiological"></a>
				<div class="col-sm-12">
					<div class="jumbotron">
						<h1>1. Neurophysiological assessments</h1>
						<blockquote><p>"What are the necessary steps in learning any art? The process of learning an art can be divided conveniently into two parts: one, the mastery of the theory; the other, the mastery of the practice.”</p>
						<cite>Eric Fromm</blockquote>
					</div>
					<p class="lead">Our goal is to apply things that we have developed in basic science to actually help patients and to do that we need to know the perimeters of their mental and physical neurological health.</p>

					<p>By using neurophysiological measurements (electroencephalography: EEG, electrooculography EOG; heart rate: HR) we can have a better understanding of normal and peak performance.</p>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</div><!--/.container-->
	<br>
	<a id="neuromodulationlink"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 page-text">

				<div class="col-sm-12">
					<div class="jumbotron">
						<h1>2. Neuromodulation—explaining the alphabet of non-invasive brain stimulation</h1>
						<blockquote><p>"Working with one’s hands is working with one’s mind.”</p>
						<cite>John Krakauer <small>Neuroscientist</small></blockquote>
					</div>
					<p class="lead">In our lab we use non-invasive experiments designed to better understand how our neurological system communicates with the body. We use two main types of neuromodulation techniques, Transcranial Direct Current Stimulation (tDCS) and Transcranial Magnetic Stimulation (TMS) and are investigating and testing other technologies.</p>
					<br><br>
					<p><strong>Electroencephalogram (EEG)</strong></p>
					<p>To measure the outcome for each experiment, we use various techniques. We can use electroencephalography (EEG), functional magnetic resonance imaging (fMRI), or even magnetic resonance spectroscopy (MRS) to measure what is going on at the neural level.</p>
					<br><br>
					<p><strong>Transcranial Direct Current Stimulation (tDCS)</strong></p>
					<p>With tDCS we deliver a low voltage electrical current over the scalp using electrodes. The electrode positions change based upon the experimental design. This current passes from the device and through the skull to stimulate the brain. As the current moves through the scalp there is "shunting" of the current, meaning some of the current does not make it into the brain. The current that does pass through the brain is very small, and helps to change brain "plasticity."</p>
					<br><br>
					<p><strong>Transcranial Magnetic Stimulation (TMS) </strong></p>
					<p>In addition to those techniques, we also use Transcranial Magnetic Stimulation (TMS) to measure the outcome of each experiment. TMS induces electrical changes in the brain via a magnetic pulse. Similar to tDCS, this procedure is non-invasive.</p>
					<p>This magnetic pulse creates a slight electrical charge in the brain, and creates a physical response. We can measure the physical response via electrodes on the hand.</p>
					<p>This measurement of a physical response is called electromyography (EMG).  Based upon the increase or decrease in the muscle response, we can measure how the brain changes over the course of tDCS stimulation. We can see if the brain activity increases, decreases, or stays the same. This is very important for our research because with EEG or fMRI, we can see physical changes that are related to stimulation, but we cannot see a cause-and-effect relationship. </p>
					<p>With TMS, we can show a cause-and-effect relationship, but we cannot see physical changes in the brain. When we combine technologies, it creates a more accurate picture of how neuromodulation can affect the brain.</p>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</div><!--/.container-->
	<br>
	<a id="neurocognitive"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 page-text">

				<div class="col-sm-12">
					<div class="jumbotron">
						<h1>3. Neurocognitive assessments</h1>
						<blockquote><p>“Electricity is really just organized lightning.”</p>
						<cite>George Carlin</blockquote>
					</div>
					<p class="lead">Mental assessments have advanced with the sophistication of neuroimaging and neurocognitive assessments.</p>
					<p>To understand the impact of non-invasive neural stimulation, it’s vital to have a comprehensive evaluation of an individual’s cognitive state—memory, attention, problem solving, spatial sense and even emotions.</p>
					<p>Our understanding of the Body Electric synthesis of natural energy between the body and the brain, gives us a clearer picture of the relationship between one’s brain, thought, behavior, mood and body. thought, behavior, mood and body.</p>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</div><!--/.container-->
</div>

{% include "footer" %}
{% endblock %}