{% block content %}
<div id="neuromodulation" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1><small>Our Science</small><br>It's personal &amp; collaborative, individual, complex, passionate, technological, natural &amp; it’s what we do.</h1>
					<blockquote>
						<p>“I have been able to see my life as from a great altitude, as a sort of landscape, and with a deepening sense of the connection of all its parts.”</p>
						<cite>Oliver Sacks</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<p class="lead">Neuromodulation is the alteration of nerve activity through application of electrical or pharmaceutical (drug) agents directly to a brain area.</p>
				<p>In our lab, we use two main types of neuromodulation techniques, Transcranial Direct Current Stimulation (tDCS) and Transcranial Magnetic Stimulation (TMS). Both of these techniques are non-invasive, meaning, they do not enter into your body.Neuromodulation is the alteration of nerve activity through application of electrical or pharmaceutical (drug) agents directly to a brain area.</p>
				<p>In our lab, we use two main types of neuromodulation techniques, Transcranial Direct Current Stimulation (tDCS) and Transcranial Magnetic Stimulation (TMS). Both of these techniques are non-invasive, meaning, they do not enter into your body.</p>
				<p>With our support the growing understanding of the Body Electric’s power to harness natural recovery, healing and transformation will unveil possibilities for an even greater body and mind.</p>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}