{% block content %}
<div id="neuromodulation" class="wrapper">
<div class="bg-image">	
	<img src="../public/images/bg_neuromodulation.jpg" class="img-responsive">
</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1><small>What is Neuromodulation?</small><br>It's personal &amp; collaborative, individual, complex, passionate, technological, natural &amp; it’s what we do.</h1>
					<blockquote>
						<p>“I have been able to see my life as from a great altitude, as a sort of landscape, and with a deepening sense of the connection of all its parts.”</p>
						<cite>Oliver Sacks</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}
			
		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<p class="lead">Neuromodulation is the alteration of nerve activity through application of electrical or pharmaceutical (drug) agents directly to a brain area.</p>
				<p>In our lab, we use two main types of neuromodulation techniques, Transcranial Direct Current Stimulation (tDCS) and Transcranial Magnetic Stimulation (TMS). Both of these techniques are non-invasive, meaning, they do not enter into your body.Neuromodulation is the alteration of nerve activity through application of electrical or pharmaceutical (drug) agents directly to a brain area.</p>
				<p>In our lab, we use two main types of neuromodulation techniques, Transcranial Direct Current Stimulation (tDCS) and Transcranial Magnetic Stimulation (TMS). Both of these techniques are non-invasive, meaning, they do not enter into your body.</p>
				<p>With our support the growing understanding of the Body Electric’s power to harness natural recovery, healing and transformation will unveil possibilities for an even greater body and mind.</p>
			</div>
		</div>
	</div>

<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-9">
				<div class="row">
					<div class="page-text">
						<div class="col-sm-6">
							<img src="../public/images/explain-neuromodulation.jpg" class="img-responsive">
						</div>
						<div class="col-sm-6">
						<a id="eeg"></a>
							<small><strong>Electroencephalogram</strong></small>
							<p>To measure the outcome for each experiment, we use various techniques. We can use electroencephalography (EEG), functional magnetic resonance imaging (fMRI), or even magnetic resonance spectroscopy (MRS) to measure what is going on at the neural level.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="row">
					<div class="page-text">
						<div class="col-sm-6">
							<a id="tms"></a>
							<small><strong>Transcranial Magnetic Stimulation</strong></small>
							<p>New NIn addition to those techniques, we also use Transcranial Magnetic Stimulation (TMS) to measure the outcome of each experiment. TMS induces electrical changes in the brain via a magnetic pulse. Similar to tDCS, this procedure is non-invasive. We rest a coil on top of the skull, and target a specific area of the brain. The electrical impulse from the machine travels through the coil, creating a magnetic pulse that penetrates the scalp. This magnetic pulse creates a slight electrical charge in the brain, and creates a physical response. We can measure the physical response via electrodes on the hand.</p>
							<p>This measurement of a physical response is called electromyography (EMG).  Based upon the increase or decrease in the muscle response, we can measure how the brain changes over the course of tDCS stimulation. We can see if the brain activity increases, decreases, or stays the same. This is very important for our research because with EEG or fMRI, we can see physical changes that are related to stimulation, but we cannot see a cause-and-effect relationship. With TMS, we can show a cause-and-effect relationship, but we cannot see physical changes in the brain. When we combine technologies, it creates a more accurate picture of how neuromodulation can affect the brain.ote</p>
						</div>
						<div class="col-sm-6">
							<img src="../public/images/explain-clinical.jpg" class="img-responsive">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="row">
					<div class="page-text">
						<div class="col-sm-6">
							<img src="../public/images/explain-clinical.jpg" class="img-responsive">
						</div>
						<div class="col-sm-6">
							<a id="tdcs"></a>
							<small><strong>Transcranial Direct Current Stimulation</strong></small>
							<p>For tDCS, we use a small device that is powered by a 9-volt battery. We deliver a low voltage electrical current over the scalp using two saline (salt water) soaked electrodes. The electrode positions change based upon the experimental design. This current passes from the device and through the skull to stimulate the brain. As the current moves through the scalp there is "shunting" of the current, meaning some of the current does not make it into the brain.   The current that does pass through the brain is very small, and helps to change brain "plasticity." Plasticity is the ability for the connections between neurons to change. For each neurological disorder that we research, the desired outcome may be different. Each experiment has a different design.  For example, for people who suffered a stroke, the desired outcome may be to enhance recovery of the affected side, or to decrease activity on the unaffected side</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}