{% block content %}
<div id="courses" class="wrapper">
	<div class="bg-image">	
		<img src="../public/images/bg_courses.jpg" class="img-responsive">
	</div>
	<a id="top"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1><small>Body Electric Courses</small><br>Catch the Wave<br>with us as we are explore a new narrative of the mind.</h1>
					<blockquote>
						<p>“To know what you’re going to draw, you have to begin drawing…”</p>
						<cite>Pablo Picasso</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<img src="holder.js/300x200?text=Profile" class="pull-right">
				<p class="lead">My name is Felipe Fregni and I’m the Director of the Spaulding-Labuschagne Neuromodulation Center.</p><p class="lead">I’m also Associate Professor at Harvard Medical School, Department of Physical Medicine and Rehabilitation and also the Department of Neurology.</p>
				<p class="lead">I’m very pleased to have the chance to create a curriculum on <strong>Body Electric — Think Outside the Brain.</strong></p>
				<p>I have been fortunate to explore with Spaulding Hospital and the Harvard Medical School the power of neuro- plasticity and the potential of non-invasive stimulation to both enhance and strengthen neural connections and networks. What is exciting today is recognizing that this plasticity extends throughout the body and that the idea of compartmentalizing of what we call the “mind” as isolated in the brain is no longer valid. Body Electric is understanding that the mind is the neural integration of the entire mass of neural connections through out our body. Body Electric is truly Think Outside the Brain.</p>

				<p>Over the last eight years, I have had the pleasure to share my interactive courses in neuroscience and non-invasive neuromodulation in conjunction with the Harvard Medical School to over 500 professionals and students in 40 countries.</p>

				<p>In 2016, I will be offering an exciting curriculum in Body Electric through The Labuschagne Foundation.</p>

				<p>What I find so gratifying is introducing changing paradigms in the way we look at new advances in neuroscience. The value of education is sharing knowledge, but if people don’t know how to use the knowledge, it’s value is diminished. The importance of sharing globally is the opportunity for so many to participate in these discoveries and bring their own value to the exploration.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 page-text">
				<h3>Body Electric Courses</h3>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Course Title #1
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Course Title #2
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Course Title #3
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<a id="webinars"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1><small>Body Electric Webinars</small><br>New Quote? Catch the Wave<br>with us as we are explore a new narrative of the mind.</h1>
					<blockquote>
						<p>“To know what you’re going to draw, you have to begin drawing…”</p>
						<cite>Pablo Picasso</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<img src="holder.js/300x200?text=Profile" class="pull-right">
				<p class="lead">I’m Leon Morales-Quezada, Associate Research Director of the Spaulding-Labuschagne Neuromodulation Center. </p>
				<p>Let me welcome you to Body Electric Webinars, a series designed for anyone interested in learning about the exciting advancements in neuromodulation and understanding of how the brain and body work together as a bioelectric entity.</p>

				<p>Body Electric is the outgrowth of both theoretical and clinical research in the growing field of bioelectricity. Our brain, nerves, heart, muscles, gut, senses are electrical—each of us are bodies of natural energy. What does that mean, how does it all work together and how can we harness this to help in healing or individual growth and development, physically and mentally?</p>

				<p>The Body Electric Webinars are meant to help explore these questions and more for the interested individual, student, or professional. Bioelectricity is not a product of the digital age but has been part of healing history since the Roman physician, Scribonius Larus wrote in 46 AD that patients suffering from gout should stand on live black torpedo fish with their accompanying electric jolts. At the Spaulding-Labuschagne Neuromodulation Center we are daily adding to our knowledge in this field that ranges from physics to neuroscience, neuroplasticity to non-invasive neurostimulation to neurorehabilitation—it’s all the Body Electric.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 page-text">
				<h3>Body Electric Webinars</h3>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Webinar Title #1
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Webinar Title #2
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Webinar Title #3
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<a id="principles"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1><small>Principles of Clinical Research</small><br>New Quote? Catch the Wave<br>with us as we are explore a new narrative of the mind.</h1>
					<blockquote>
						<p>“To know what you’re going to draw, you have to begin drawing…”</p>
						<cite>Pablo Picasso</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<img src="holder.js/300x200?text=Profile" class="pull-right">
				<p class="lead">We are proud to announce that Professor Felipe Fregni, Director of the Spaulding-Labuschagne Neuromodulation Center, is disseminating this vital information through The Clinical Research Project www.ppcr.org.</p>
				<p>Professor Fregni with colleagues throughout the world have developed a highly interactive platform for clinical research training designed for clinicians and junior scientists. </p>

				<p>The program also promotes collaborative learning, so participants from the clinical research courses can teach and exchange ideas with their colleagues.  </p>

				<p>As of 2015, more than 2000 people have been trained in the Clinical Research Project. Many participants have become very successful clinical researchers and have perpetuated the mission to share this training with colleagues.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 page-text">
				<h3>Principles of Clinical Research Courses</h3>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Course Title #1
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Course Title #2
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Course Title #3
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				        <br><br>
				        <a class="btn btn-primary" href="#">Call to action</a>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}