{% block content %}
<div id="educate" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<div class="jumbotron">

					<div class="index-logos">
						<div class="row">
							<div class="col-xs-4">
								<img src="http://clients.plusplusminus.co.za/foundation/preview/wp-content/themes/jlfoundation/assets/images/lab-1.png" class="img-responsive">
							</div>
							<div class="col-xs-4">
								<img src="http://clients.plusplusminus.co.za/foundation/preview/wp-content/themes/jlfoundation/assets/images/lab-2.png" class="img-responsive">
							</div>
							<div class="col-xs-4">
								<img src="http://clients.plusplusminus.co.za/foundation/preview/wp-content/themes/jlfoundation/assets/images/lab-3.png" class="img-responsive">
							</div>
						</div>
					</div>

					<h1><small>Our Courses</small><br>Education is the root of transformation for all of us.</h1>
					<h2><em>We grow differently.</em></h2>
					<br><br>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
	</div>
	
	{% include "educate-page-footer-nav" %}

</div>

{% include "footer" %}
{% endblock %}