{% block content %}
<div id="index" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="jumbotron">
					<h1>Come explore<br>with us.</h1>
					<h2><em>We discover differently.</em></h2>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<ul class="nav nav-pills nav-stacked">
		  			<li role="presentation" class="active"><a href="#">Home</a></li>
		  			<li role="presentation"><a href="#">Profile</a></li>
		  			<li role="presentation"><a href="#">Messages</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Our Mission</h3>
				  </div>
				  <div class="panel-body">
				  	<br>
				    <h2>We believe in a<br>better body &amp; mind.</h2>
				    <br><br><br>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Our Vision</h3>
				  </div>
				  <div class="panel-body">
				  	<br>
				    <h2>Body Electric —<br>Think Outside the Brain. </h2>
				    <br><br><br>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

Footer
{% endblock %}