.abs-link {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}
.navbar {
  min-height: 100px;
  width: 100%;
  border-radius: 0;
}
.navbar-header {
  background-color: rgba(255, 255, 255, 0.5);
  float: none;
  z-index: 99;
}
.navbar-brand {
  height: 100px;
  padding: 20px 15px;
}
.navbar-brand img {
  max-height: 100%;
  width: auto;
}
#nav-side {
  position: fixed;
  top: 14rem;
  right: 2rem;
}
.nav-sub li {
  margin-left: 3rem;
  padding: 0.5rem 0;
}
.nav-sub li a.active {
  text-decoration: underline;
}
.jumbotron {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0 !important;
}
.jumbotron h1 {
  font-size: 5rem;
}
.jumbotron h1 small {
  line-height: 1rem;
  font-size: 35%;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.jumbotron h2 {
  font-size: 3rem;
}
.panel-heading {
  text-transform: uppercase;
}
.panel-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 13rem;
}
.panel-body h2 {
  margin-top: 0px;
  font-size: 2.2rem;
}
#footer {
  z-index: 9999;
  background-color: #fff;
  width: 100%;
  padding: 1rem 0;
}
#footer ul {
  margin-bottom: 0;
}
.page-text {
  background-color: #fff;
  padding: 4rem;
}
.page-footer-nav {
  position: absolute;
  bottom: 3rem;
  width: 100%;
}
.page-footer-nav .panel {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  transition: 0.3s;
}
.page-footer-nav .panel:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.page-footer-nav .panel-heading {
  background-color: transparent;
  border-bottom: none;
}
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-image img {
  width: 100%;
}
#index {
  background: url(../images/bg_index.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 9;
  padding-top: 2rem;
}
#objectives {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
#explain {
  background: url(../images/bg_explain.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 9;
  padding-top: 10rem;
}
#neuromodulation {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
#examine {
  background: url(../images/bg_examine.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 9;
  padding-top: 10rem;
}
#bodyelectric {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
#educate {
  background: url(../images/bg_educate.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 9;
  padding-top: 10rem;
}
#courses {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
#engage {
  background: url(../images/bg_engage.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 9;
  padding-top: 10rem;
}
#connect {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
#contact {
  background: #ccc;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 9;
  padding-top: 10rem;
}
