.site-footer{

}

.single-footer{
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	width: 100%;
	font-size: $font-size-sm;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	@include e(row) {
		@include make-row();
	}
	@include e(legal) {
		@include make-col();
		@include make-col-span(12);
		@include media-breakpoint-up(md) {
			@include make-col-span(6);
		}
	}
	@include e(social) {
		@include make-col();
		@include make-col-span(12);
		@include media-breakpoint-up(md) {
			@include make-col-span(6);
		}
	}
}