<div class="container-fluid page-footer-nav">
    <div class="row">

      <div class="col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Our Courses</h3>
          </div>
          <div class="panel-body">
            <h2>We are pleased to have the chance to create a cirriculum on Body Electric - Think Outside the Brain</h2>
          </div>
          <a href="educate/courses" class="abs-link"></a>
        </div>
        
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Body Electric Webinars</h3>
          </div>
          <div class="panel-body">
            <h2>These are a series designed for anyone interested in learning about the exciting advancements in neuromodulation and bioelectricity.</h2>
          </div>
          <a href="educate/courses#webinars" class="abs-link"></a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Principles of Clinical Research</h3>
          </div>
          <div class="panel-body">
            <h2>The Labuschagne Foundation believes that clinicians and health care providers must be trained to critically analyze and implement clinical research data.</h2>
          </div>
          <a href="educate/courses#principles" class="abs-link"></a>
        </div>
      </div>
    </div>
  </div>