<div class="container-fluid page-footer-nav">
    <div class="row">
      
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Connect</h3>
          </div>
          <div class="panel-body">
            <h2>Body</h2>
          </div>
          <a href="engage/connect" class="abs-link"></a>
        </div>
      </div>

      <div class="col-md-6">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Volunteer</h3>
          </div>
          <div class="panel-body">
            <h2>Soul</h2>
          </div>
          <a href="engage/connect#volunteer" class="abs-link"></a>
        </div>
        
      </div>
    </div>
  </div>