<div class="container-fluid page-footer-nav">
    <div class="row">

      <div class="col-md-6">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Our Mission</h3>
          </div>
          <div class="panel-body">
            <h2>We believe in a<br>better body &amp; mind.</h2>
          </div>
          <a href="explore/objectives#mission" class="abs-link"></a>
        </div>
        
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Our Vision</h3>
          </div>
          <div class="panel-body">
            <h2>Body Electric —<br>Think Outside the Brain. </h2>
          </div>
          <a href="explore/objectives#vision" class="abs-link"></a>
        </div>
      </div>
    </div>
  </div>