<div class="container-fluid page-footer-nav">
    <div class="row">
      
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Electroencephalogram</h3>
          </div>
          <div class="panel-body">
            <br>
            <h2>EEG</h2>
            <br><br><br>
          </div>
          <a href="explain/eeg" class="abs-link"></a>
        </div>
      </div>

      <div class="col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Transcranial Magnetic Stimulation</h3>
          </div>
          <div class="panel-body">
            <br>
            <h2>TMS</h2>
            <br><br><br>
          </div>
          <a href="explain/tms" class="abs-link"></a>
        </div>
        
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Transcranial Direct Current Stimulation</h3>
          </div>
          <div class="panel-body">
            <br>
            <h2>tDCS</h2>
            <br><br><br>
          </div>
          <a href="explain/tdcs" class="abs-link"></a>
        </div>
      </div>
    </div>
  </div>