<div class="container-fluid page-footer-nav">
    <div class="row">
      
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Neurophysiological Assessments</h3>
          </div>
          <div class="panel-body">
            <h2>Better understand normal and peak performance.</h2>
          </div>
          <a href="explain/neuromodulation#neurophysiological" class="abs-link"></a>
        </div>
      </div>

      <div class="col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Neuromodulation</h3>
          </div>
          <div class="panel-body">
            <h2>Explaining the alphabet of non-invasive brain stimulation</h2>
          </div>
          <a href="explain/neuromodulation#neuromodulationlink" class="abs-link"></a>
        </div>
        
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Neurocognitive assessments</h3>
          </div>
          <div class="panel-body">
            <h2>Help clarify the mental function in an individual. </h2>
          </div>
          <a href="explain/neuromodulation#neurocognitive" class="abs-link"></a>
        </div>
      </div>
    </div>
  </div>