<div id="nav-side" class="col-sm-2 col-sm-offset-2">
<br><br>
  <ul class="nav nav-pills nav-stacked">
      <li {% if mixture.url == "index" %}class="active"{% endif %}><a href="/index">Explore</a>
        {% if (mixture.url == "index" or mixture.url == "explore/objectives"%}
          <ul class="nav-sub list-unstyled">
            <li><a href="/explore/objectives">Our Goals</a></li>
            <li><a href="/explore/objectives#mission">Our Mission</a></li>
            <li><a href="/explore/objectives#vision">Our Vision</a></li>

          </ul>
        {% endif %}
      </li>
      <li {% if mixture.url == "explain" %}class="active"{% endif %}><a href="/explain">Explain</a>
        {% if (mixture.url == "explain" or mixture.url == "explain/neuromodulation") %}
          <ul class="nav-sub list-unstyled">
            <li><a href="/explain/neuromodulation">Neuromodulation</a></li>
            <li><a href="/explain/neuromodulation#eeg">EEG</a></li>
            <li><a href="/explain/neuromodulation#tms">TMS</a></li>
            <li><a href="/explain/neuromodulation#tdcs">tDCS</a></li>
          </ul>
        {% endif %}
      </li>
      <li {% if mixture.url == "examine" %}class="active"{% endif %}><a href="/examine">Examine</a>
      {% if (mixture.url == "examine" or mixture.url == "examine/bodyelectric" %}
        <ul class="nav-sub list-unstyled">
          <li><a href="/examine/bodyelectric">Body Electric</a></li>
          <li><a href="/examine/bodyelectric#neuromodulationlink">Neuromodulation Research</a></li>
          <li><a href="/examine/bodyelectric#clinical">Clinical Research</a></li>
        </ul>
      {% endif %}
      </li>
      <li {% if mixture.url == "educate" %}class="active"{% endif %}><a href="/educate">Educate</a>
      {% if (mixture.url == "educate" or mixture.url == "educate/courses" %}
        <ul class="nav-sub list-unstyled">
          <li><a href="/educate/courses" {% if mixture.url == "educate/courses" %}class="active"{% endif %}>Body Electric Courses</a></li>
          <li><a href="/educate/courses#webinars" {% if mixture.url == "educate/webinars" %}class="active"{% endif %}>Body Electric Webinars</a></li>
          <li><a href="/educate/courses#principles" {% if mixture.url == "educate/principles" %}class="active"{% endif %}>Principles of Clinical Research</a></li>
        </ul>
      {% endif %}
      </li>
      <li {% if mixture.url == "engage" %}class="active"{% endif %}><a href="/engage">Engage</a>
      {% if (mixture.url == "engage" or mixture.url == "engage/connect" %}
        <ul class="nav-sub list-unstyled">
          <li><a href="/engage/connect">Connect</a></li>
          <li><a href="/engage/connect#volunteer">Volunteer</a></li>
        </ul>
      {% endif %}
      </li>
  </ul>
</div>