{% block content %}
<div id="mission" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1><small>Our Mission</small><br>We believe in a<br>better body &amp; mind.</h1>
					<blockquote>
						<p>“Your connections to all the things around you literally define who you are.”</p>
						<cite>Aaron D. O’Connell Quantum physicist</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<p class="lead">The Labuschagne Foundation is proud to partner with the Spaulding Neuromodulation Center for the rigorous scientific exploration that will lead to new discoveries to improve body and mind.</p>
				<p>It will open access to transformational therapies for anyone pursuing a healthier life.</p>
				<p>With our support the growing understanding of the Body Electric’s power to harness natural recovery, healing and transformation will unveil possibilities for an even greater body and mind.</p>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}