{% block content %}
<div id="objectives" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1>Our 4 Objectives</h1>
					<blockquote>
						<p>“FPOFPOFPO I have been able to see my life as from a great altitude, as a sort of landscape, and with a deepening sense of the connection of all its parts.”</p>
						<cite>Oliver Sacks</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text lead">
				<ol>
					<li>Traverse the entire bioelectric landscape of the body to impact on the research of non-invasive neuromodulation stimulation. </li>
					<li>Aid in the development of practical clinical treatments for those with mental disorders. </li>
					<li>Educate, train and promote clinical and evidence-based research. </li>
					<li>Clilaborate on the inherent possibilities of the Body Electric transformational potential.</li>
				</ol>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}