{% block content %}
<div id="bodyelectric" class="wrapper">
<div class="bg-image">	
	<img src="../public/images/bg_examine-neuromodulation.jpg" class="img-responsive">
</div>
<a id="top"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron">
					<h1><small>Our Research</small><br>
					Research is just data</h1><h2>without interpretation— like notes without a melody. The Center is where we connect the notes with original research and new technologies.</h2>
					<blockquote>
						<p>“Practicing is not only playing your instrument, either by yourself or rehearsing with others - it also includes imagining yourself practicing. Your brain forms the same neural connections and muscle memory whether you are imagining the task or actually doing it.”</p>
						<cite>Yo-Yo Ma</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="page-text">
						<p class="lead">The Neuromodulation Center at Spaulding Rehabilitation Hospital is a state-of-the-art clinical research center devoted to the investigation of noninvasive brain and peripheral stimulation methods and its applications in neurological conditions.</p>
						<p>The Neuromodulation Center research focus in the development of specialized brain and nerve stimulation therapeutic regimes, by supporting the advancement of applied technology and sophisticated systems for brain's activity analysis.</p>
						<p>The practice of evidence-based neuromodulation starts by integrating individual clinical experience and expertise, with the best available external clinical evidence from well design clinical research. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<a id="explorers"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron">
					<h1><small>Our Explorers</small><br>We explore, examine &amp; build off of the body’s waves of energy.</h1>
					<blockquote>
						<p>“Everything is energy and that’s all there is to it.”</p>
						<cite>Albert Einstein <small>Genius</small></cite>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<div class="row">
					<div class="col-sm-12">
						<p class="lead">The brain likes to be safe and efficient by controlling the body’s anarchy with organization and boundaries through modulating neural excitability. In our goal to advance the research of non-invasive neural stimulation we are devoted to “disruption” of these boundaries and chart the unexplored territory of bodily and cognitive intelligence.</p>
						<p>To accomplish this we need to have a network of thinkers with the same quest. The members of the Spaulding-Labuschagne Foundation are encouraged to be active and involved learners weaving together research in cross-disciplinary opportunities of engineering, neuroscience, and clinical research. We promote an environment that stress comprehension, communication and collaboration (as well as alliteration).</p>
						<p>The end result is exciting advancements in science and also a growing community of observers and fellow who leave with a unique knowledge of clinical research and non-invasive neural stimulation techniques.</p>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

	<a id="research"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron">
					<h1><small>Neuromodulation Research</small><br>We are advancing the creative use of non-invasive neurostimulation.</h1>
					<blockquote>
						<p>“I think a scientist's job is to explore the Universe, to explore the cosmos around us. People always want to know - why is that useful? Well, on just pure fundamental grounds, on some level it's like art, it's like umm, music, it's aesthetics, it's like philosophy.”</p>
						<cite>Brian Schmidt, <cite>Astronomer &amp; nobel prize winner physics</small></cite>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<div class="row">
					<div class="col-sm-12">
						<img src="../public/images/explain-clinical.jpg" class="thumbnail pull-right img-responsive" width="360px">
						<p class="lead">The brain likes to be safe and efficient by controlling the body’s anarchy with organization and boundaries through modulating neural excitability.</p>
						<p>In our goal to advance the research of non-invasive neural stimulation we are devoted to “disruption” of these boundaries and chart the unexplored territory of bodily and cognitive intelligence.</p>
						<p>To accomplish this we need to have a network of thinkers with the same quest. The members of the Spaulding-Labuschagne Foundation are encouraged to be active and involved learners weaving together research in cross-disciplinary opportunities of engineering, neuroscience, and clinical research. We promote an environment that stress comprehension, communication and collaboration (as well as alliteration).</p>
						<p>The end result is exciting advancements in science and also a growing community of observers and fellow who leave with a unique knowledge of clinical research and non-invasive neural stimulation techniques.</p>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a id="clinical"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron">
					<h1><small>Clinical Research</small><br>Research needs a global network of clinical researchers.</h1>
					<blockquote>
						<p>“I tend to think that the best face of humanity is that we learn. We explore, we study, we think.”</p>
						<cite>Brian Schmidt, <cite>Astronomer &amp; nobel prize winner physics</small></cite>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<div class="row">
					<div class="col-sm-12">
						<img src="../public/images/explain-neuromodulation.jpg" class="thumbnail pull-right img-responsive" width="360px">
						<p class="lead">Our second objective is to enhance and promote clinical research education among graduate and medical students.</p>
						<p>The Center focus on clinical research in neurorehabilitation, cognitive rehabilitation and pain while developing noninvasive neuromodulation techniques and devoted to promote education and training in these techniques. The Center will create a global network of clinical researchers to foster future collaboration.</p>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}