{% block content %}
<div id="bodyelectric" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1>The Body Electric</h1>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<p class="lead">is our terminology for research in neuromodulation and neuroplasticity to better utilize our body’s energy of natural electrical signals. By doing so, neural connections can be strengthened resulting in increased neural communication that allow our bioelectric selves to perform better.</p>
				<p>The Body Electric is based on the understanding that our body’s electricity is a natural part of our body’s energy ecosystem. We are electric.</p>
				<p>The Body Electric recognizes that the body and brain are one and need to work together for optimal performance. Our entire being is alive due to its natural electricity, which is energy. The language of our thoughts is the conversation of 86 billion neurons throughout our body. It is a fluid dialogue of trillions of synapses that pulse in the brain, body, and mind in waves of electrical data. These waves of data can be modulated by noninvasive electrical stimulation, which can help facilitate healing, improve recovery or optimize physical performance and mental acuity.</p>
				<p>The Body Electric recognizes that the mind is not simply a place, but the synchronized activity of the body and brain.</p>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}