{% block content %}
<div id="examine-neuromodulation" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1>Research is just data<br><small>without interpretation— like notes without a melody. The Center is where we connect the notes with original research and new technologies.</small></h1>
					<blockquote>
						<p>“Practicing is not only playing your instrument, either by yourself or rehearsing with others - it also includes imagining yourself practicing. Your brain forms the same neural connections and muscle memory whether you are imagining the task or actually doing it.”</p>
						<cite>Yo-Yo Ma</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-9">
				<div class="row">
					<div class="page-text">
						<div class="col-sm-6">
							<img src="../public/images/explain-neuromodulation.jpg" class="img-responsive">
						</div>
						<div class="col-sm-6">
							<small><strong>Neuromodulation Research</strong></small>
							<h3>We are advancing the creative use of non-invasive neurostimulation.</h3>
							<p>We have two objectives  at the Spaulding-Labuschagne Neuromodulation Center. The Center is focused on pain, neurological and cognitive rehabilitation along with neurophysiologic assessments.</p>
							<p>We seek to advance research of non-invasive brain stimulation techniques and aid in development of practical clinical treatments for those with neurological disorders.  This involves understanding the mechanisms of TMS and tDCS, and how they affect brain function. </p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="row">
					<div class="page-text">
						<div class="col-sm-6">
							<small><strong>Clinical Research</strong></small>
							<h3>Research needs an evidence based foundation which we promote through education to create a global network of clinical researchers.</h3>
							<p>Our second objective is to enhance and promote clinical research education among graduate and medical students.</p><p>The Center focus on clinical research  in neurorehabilitation, cognitive rehabilitation and pain while developing noninvasive neuromodulation techniques and devoted to promote education and training in these techniques. The Center will create a global network of clinical researchers to foster future collaboration.</p>
						</div>
						<div class="col-sm-6">
							<img src="../public/images/explain-clinical.jpg" class="img-responsive">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}