.single-footer{
	p{
		margin-bottom: 0;
		color: $gray-lighter;
		font-weight: 100;
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}
	@include e(legal) {
		.nav-items{
			padding: 0;
			list-style: none;
			margin: 0;
			text-align: center;
			@include media-breakpoint-up(md) {
				text-align: left;
			}
			@include e(item) {
				display: inline-block;
				transition: 0.3s;
				padding: 0 0.5rem 0 0;
				margin-bottom: 10px;
				@include media-breakpoint-up(sm) {
				}
				@include m(link) {
					display: inline-block;
					color: $gray-lighter;
					font-weight: 100;
					transition: 0.3s;
					border-bottom: 1px solid $gray-lighter;
					&:hover,
					&:active,
					&:focus{
						color: $gray;
						text-decoration: none;
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
	@include e(social) {
		padding: 0 1rem;
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: right;
		}
		.nav-items{
			display: inline-block;
			font-size: $font-size-lg;
			margin-bottom: 1rem;
			padding: 0;
			@include e(item) {
				padding: 0 0.5rem;
				display: inline;
				list-style: none;
				@include m(link) {
					color: $default;
					transition: 0.3s;
					&:hover{
						text-decoration: none;
						color: $gray-lighter;
					}
				}
			}
		}
	}
	.home &{
		position: absolute;
    	bottom: 0;
    	background: #fff;
    	z-index: 999;
	}
}

