h2{
	font-family: $font-family-sans-serif;
}
h3{
	font-family: $font-family-sans-serif;
	font-size: $font-size-lg;
}
h4{
	font-family: $font-family-sans-serif;
	font-weight: 700;
}
.page-content{
	position: relative;
	@include e(section) {
		margin-bottom: 4rem;
	}
	@include e(entry) {
		font-size: 1.2rem;
		font-weight: 100;
		p{
			margin-bottom: 2rem;
			.page-id-41 &,
			.parent-pageid-41 &{
				color: #fff !important;
			}
		}
		strong{
			font-weight: 400;
		}
		em{
			color: $default;
		}
		p a{
			@extend %link-border;
		}
		img{
			margin-bottom: 2rem;
			margin-top: 1rem;
		}
		ul{
			margin-bottom: 2rem;
			li{
				padding-bottom: 1rem;
			}
		}
		a{
			img{
				transition: 0.3s;
			}
			&:hover{
				img{
					transform: translate3d(0,-5%,0);
				}
			}
		}
		blockquote{
			margin-top: 1rem;
			margin-bottom: 1rem;
			position: relative;
			border-left: ($border-width * 5) solid $default;
			padding-left: 2rem;
			p{
				font-family: $font-family-serif;
				font-size: $font-size-lg;
				color: $default;
				margin-bottom: 2rem;
				margin-top: 2rem;
				cite{
					text-transform: uppercase;
					color: $gray-dark;
					font-family: $font-family-sans-serif;
					text-align: left;
					font-style: normal;
					font-weight: 600;
					font-size: $font-size-base;
					letter-spacing: 0.1em;
					display: block;
				}
			}
		}
	}
}

.page-content__pagination,
.post-content__pagination,
.page-feed__pagination{
	@include m(btn) {
		@extend %btn;
		white-space: normal;
		&.btn-next{
			@extend %btn-link;
		}
		&.btn-previous{
			@extend %btn-link;
			.icon{
				transform: rotate(180deg);
			}
		}
		&.btn-more{
			@extend %btn-primary;
			background-color: $default;
			margin-bottom: 4rem;
		}
	}
}

#accordion{
	padding: 2rem 0;
}
.panel{
	padding: 1rem 0;
	border-bottom: 1px solid #e6e6e6;
	&:first-child{
		border-top: 1px solid #e6e6e6;
	}
	.panel-heading{
		.panel-title{
			font-weight: normal;
			text-transform: uppercase;
			font-family: $font-family-sans-serif;
			margin: 0;
			a{
				color: $default;
				display: block;
				transition: 0.3s;
				&:hover,
				&:active,
				&:focus{
					text-decoration: none;
				}
			}
		}
	}
	.panel-collapse{
		padding: 1rem 0;
		.panel-collapse__link{
			color: $default;
			margin-right: 0.5rem;
			transition: 0.3s;
			&:hover{
				margin-right: 1rem;
				text-decoration: none;
			}
		}
		.icon{
			color: $default;
		}
	}
}

.panel-title a{
	.icon{
		float: right;
		&:before{
			content: "\68";
			font-family: "thelab" !important;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	&:hover{
		.icon:before{
			content: "\69";
		}
	}
}

.owl-carousel.owl-theme{
	margin-bottom: 3rem;
	.owl-item{
		img{
			width: inherit;
			height: auto;
			margin: auto;
		}
	}
	.owl-controls{
		.owl-pagination{
		    position: absolute;
		    bottom: 4rem;
		    left: 0;
		    right: 0;
		}
		.owl-buttons{
			.owl-prev,
			.owl-next{
				@extend %btn;
				@extend %btn-sm;
				border-radius: 0;
			}
			.owl-prev{

			}
			.owl-next{

			}
		}
	}
}