{% block content %}
<div id="connect" class="wrapper">
	<div class="bg-image">	
		<img src="../public/images/bg_volunteer.jpg" class="img-responsive">
	</div>
	<a id="top"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1><small>Connect</small><br>It's about connecting<br>the entire mind throughout your body. We are a center of connections, come visit.</h1>
					<blockquote>
						<p>“If you don’t know where you are going, any road will take you there"</p>
						<cite>Lewis Carroll</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<div class="row">
					<div class="col-md-12">
						<p class="lead">Address:</p>

						<p class="lead">79/96 13th Street<br>
						Charlestown, MA 02129 USA</p>

						<p><strong>Telephone:</strong> 617.952.6153<br>
						<strong>Email:</strong> info@neuromodulationlab.org</p>
						<br>

						<p class="lead">Directions:</p>

						<p><strong>Subway/MBTA:</strong><br>
						Take the Orange Line to North Station or the Green Line to North Station and wait for the Partners shuttle or the Spaulding Express Shuttle outside of the CVS to the Charlestown Navy Yard.</p>

						<p><strong>Walking directions:</strong><br>
						<a href="http://maps.google.com/maps?f=d&source=s_d&saddr=North+Station,+Boston,+MA&daddr=125+Nashua+St,+Boston,+MA+02114&hl=en&geocode=FRt1hgIdfrHD-ykFk8sbjnDjiTHi8dnad_Fr3g%3BFTh7hgIdvKLD-ylX4L7Vk3DjiTGkFoGBJTiVfg&mra=ls&dirflg=w&sll=42.3678,-71.0649&sspn=0.008957,0.021286&ie=UTF8&z=17" target="_blank">From North Station (Green or Orange Line)</a><br>
						<a href="http://maps.google.com/maps?f=d&source=s_d&saddr=MA-28+N&daddr=125+Nashua+St,+Boston,+MA+02114&hl=en&geocode=Fbp2hgIdRpbD-w%3BFTh7hgIdvKLD-ylX4L7Vk3DjiTGkFoGBJTiVfg&mra=dme&mrcr=0&mrsp=0&sz=17&dirflg=w&sll=42.36728,-71.068089&sspn=0.004479,0.010643&ie=UTF8&z=17" target="_blank">From Science Park (Green Line)</a></p>

						<p><strong>Driving Directions</strong><br>
						<a href="http://www.spauldingrehab.org/ourlocations/maincampus/directions" target="_blank">See driving directions here ##broken link##</a></p>
						<p><em>There is a parking lot here at Spaulding Rehab Hospital where you can park. If you have an appointment with us, then please let us know that you will be driving so that we can have your parking payment covered when you arrive.</em></p>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-md-12">
						<p class="lead">Map:</p>
						<img src="../public/images/map.png" class="img-responsive">
						<p class=""><em>The red balloon indicates the location of our laboratory, the Neuromodulation Center, at the Spaulding Rehabilitation Research Institute.</em></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="../public/images/engage-plaque.jpg" class="img-responsive"
						>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<img src="../public/images/school.jpg" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>

	<a id="volunteer"></a>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1><small>Volunteer</small><br>Thinking is a whole body explerience.</h1>
					<blockquote>
						<p>“If you don’t know where you are going, any road will take you there"</p>
						<cite>Lewis Carroll</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<p class="lead">Copy about volunteering</p>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}