{% block content %}
<div id="connect" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1>It's about connecting<br><small>the entire mind throughout your body. We are a center of connections, come visit.</small></h1>
					<blockquote>
						<p>“If you don’t know where you are going, any road will take you there"</p>
						<cite>Lewis Carroll</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<div class="row">
					<div class="col-md-6">
						<p class="lead">Address</p>
					</div>
					<div class="col-md-6">
						<p class="lead">Google Map</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<br>
			<div class="col-sm-8 page-text">
				<img src="../public/images/engage-plaque.jpg" class="img-responsive">
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}