{% block content %}
<div id="volunteer" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="jumbotron">
					<h1>Thinking is a whole body explerience.</h1>
					<blockquote>
						<p>“If you don’t know where you are going, any road will take you there"</p>
						<cite>Lewis Carroll</cite>
					</blockquote>
				</div>
			</div>
			
			{% include "navigation-side" %}

		</div>
		<div class="row">
			<div class="col-sm-8 page-text">
				<p class="lead">Copy about volunteering</p>
			</div>
		</div>
	</div>
</div>

{% include "footer" %}
{% endblock %}